# Qt generate file types

build-*/*
build-*
*-build-*
.vscode/
QKeyMapper/*.pro.user
QKeyMapper/*.pro.user.*
QKeyMapper/*.moc
QKeyMapper/*.bin
QKeyMapper/moc_*.cpp
QKeyMapper/qrc_*.cpp
QKeyMapper/ui_*.h
QKeyMapper/Makefile*
QKeyMapper/*-build-*
